// <-- Common
$color-primary: #2F80ED;
$color-mint: #52D1BC;
$color-text: #636363;
$font-size-sm: 10px;
$font-size-text: 14px;
$font-size-heading: 24px;
$padding-left-right-768: 60px;
$font-montserrat: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin typical-text {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-heading;
}

@mixin button {
  color: #fff;
  background-color: $color-mint;
  padding: 15px 45px;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin head-in-block {
  margin-bottom: 10px;
  font-size: $font-size-text;
  font-weight: bold;
  color: $color-primary;
  text-transform: uppercase;
}

@mixin text-in-block {
  color: $color-text;
  font-size: $font-size-text;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  @include typical-text();
  margin-bottom: 50px;
}

p {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 40px;
}

.button {
  @include button;
}

// Common -->

// <-- Header

.header {
  font-family: $font-montserrat;
  font-size: $font-size-text;
  background-size: cover;
  background-position: right;
  margin-bottom: 40px;

  @media (max-width: 440px) {
    background-image: url(../images/header-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../images/header-bg@2x.jpg);
    }
  }

  @media (min-width: 441px) {
    background-image: url(../images/header-bg-768@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper-flex {
      max-width: 1280px;
      margin-left: auto;
      @media (min-width: 520px) {
        display: flex;
      }
    }

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../images/header-bg-768@2x.jpg);
    }
  }

  @media (min-width: 960px) {
    background-image: url(../images/header-bg-desktop@1x.jpg);

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../images/header-bg-desktop@2x.jpg);
    }
  }

  @media (min-width: 1400px) {
    background-size: contain;
  }
}

.header__wrapper-position-right {
  margin-left: auto;
  @media (min-width: 481px) and (max-width: 559px) {
    margin-left: auto;
    flex-basis: 70%;
  }

  @media (min-width: 560px) and (max-width: 767px){
    margin-left: auto;
    flex-basis: 70%;
}

  @media (min-width: 768px) {
    flex-grow: 1;
  }

  @media (min-width: 960px) and (max-width: 1140px) {
    flex-basis: 100%;
  }
}

.header__main-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (min-width: 960px) {
    align-items: center;
  }
}

.header__button {
  background-color: transparent;
  color: #fff;
  @media (min-width: 960px) {
    padding: 8px 25px;
    order: 1;
    background-color: #fff;
    border-radius: 20px;
    color: $color-primary;
  }
}

.nav-grouping {
  display: flex;
  align-items: flex-end;
  @media (max-width: 960px) {
    flex-direction: column;
  }
}

.nav__list {
  margin: 0;
  opacity: 0;
  @media (min-width: 960px) {
    display: flex;
    opacity: 1;
  }
}

.list-item:not(:last-child) {
  padding-right: 50px;
}

.nav-grouping__icon-menu {
  @media (min-width: 960px) {
    display: none;
  }
}

.header__section-main {
  @media (min-width: 960px) {
    max-width: 690px;
    margin-left: auto;
    padding-top: 60px;
  }

  & > p {
    @media (min-width: 960px) {
      font-size: 18px;
    }
  }
}

.section-main__heading-location {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 25px;
  @media (min-width: 960px) {
    font-size: 16px;
  }
}

.section-main__main-heading {
  @include typical-text();

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.button--shadow {
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
  box-shadow: 0 0 0 15px rgba(82, 209, 188, 0.4);
}

.header__wrapper-rating {
  margin-left: auto;
  max-width: 1200px;
}

.header__rating {
  background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
  box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
  border-radius: 50%;
  height: 231px;
  width: 231px;
  padding: 30px;
  color: $color-primary;

  & > p:not(:last-child) {
    margin: 5px;
  }

  @media (max-width: 481px) {
    margin: auto;
  }

  @media (min-width: 960px) {
    display: inline-block;
    margin-left: 50px;
  }
}

.rating__heading {
  font-size: 34px;
}

.rating-show {
  font-size: $font-size-sm;
}

.header__cities-list {
  display: none;
  margin: 0;
  flex-basis: 40%;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 1389px) {
    display: inline-block;
  }
}

.city {
  cursor: pointer;
  text-transform: uppercase;

  &:first-child {
    font-weight: bold;
  }
}

.header__cities-list .city {
  color: $color-primary;
  @media  (min-width: 1220px) {
    &:first-child {
      color: $color-primary;
    }
  }

  @media (min-width: 960px) {
    @media (max-width: 1219px) {
      text-shadow: 0 0 20px $color-primary;
    }

    &:not(:first-child) {
      text-shadow: 0 0 20px $color-primary;
    }
  }

  &:first-child {
    margin-right: 40px;
  }

  @media (min-width: 868px) {
    display: block;
    &:not(:first-child) {
      margin-right: 25px;
    }
  }

  @media (min-width: 1140px) {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  @media (max-width: 959px) {
    color: $color-primary;

    &:first-child::after {
      margin-left: 15px;
      content: "▼";
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }

  @media (min-width: 960px) {
    color: #fff;
  }
}

// Header -->

// <-- Statistical data

.section-statistical-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 640px) {
    padding: 0 5%;
  }

  @media (min-width: 641px) and (max-width: 767px) {
    padding: 0 55px;
  }

  @media (min-width: 768px) and (max-width: 985px) {
    padding: 0 90px;
  }
}

.section-statistical-data__statistical-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 986px) {
    flex-basis: 50%;
    margin-left: 50px;
  }

  @media (min-width: 1700px) {
    flex-basis: 30%;
  }
}

.statistical-blocks__block {
  padding: 20px 20px 20px 45px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 10px #F4F4FE, 1px -26px 13px -20px #EEEEFF;

  @media (min-width: 525px), (min-width: 1200px) {
    flex-basis: 35%;
  }

  @media (min-width: 986px) {
    flex-basis: 48%;
  }

  @media (min-width: 480px) {
    & {
      margin-right: 1%;
      margin-left: 1%;
    }
  }
}

.block__head {
  @include typical-text;
  color: $color-primary;
}

.block__text {
  @include text-in-block;
}

// Statistical data -->

// <-- Target segments

.section-target-segments {
  background-repeat: no-repeat;

  @media (min-width: 299px) {
    @media (max-width: 640px) {
      background-image: url(../images/section-target-segment-bg.jpg);
      background-position: right;
      background-size: cover;
    }
  }

  @media (min-width: 641px) and (max-width: 868px) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/section-target-segment-bg-768.jpg);

    @media (min-width: 698px) {
      //background-position: bottom;
    }
  }

  @media (min-width: 869px) {
    background-image: url(../images/section-target-segment-bg-desktop.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    .wrapper-section-target-segments {
      max-width: 690px;
      margin: auto;
      padding-top: 50px;
    }
  }

  @media (min-width: 1140px) {
    background-position: top;
    background-size: contain;
  }

  @media (max-width: 280px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 280px) {
    padding: 40px $padding-left-right-768;
  }

  @media (min-width: 300px) and (max-width: 325px) {
    padding-bottom: 80px;
  }

  @media (min-width: 768px) and (max-width: 868px) {
    padding: 80px 90px;
    background-position: top right;
    background-size: contain;

    @media (max-width: 770px) {
      background-size: cover;
    }
  }
}

.wrapper-section-target-segments {
  @media (min-width: 770px) {
    max-width: 500px;
    margin: auto;
  }
}

.section-target-segments__h2 {
  margin-bottom: 30px;

  @media (min-width: 640px) {
    margin-bottom: 60px;
  }

}

.target-segments {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    justify-content: space-around;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.target-segment {
  &:not(:last-child) {
    margin-bottom: 35px;
  }

  @media (min-width: 525px) and (max-width: 767px) {
    flex-basis: 45%;
  }

  @media (min-width: 768px) {
    flex-basis: 30%;
  }
}

.target-segment__head {
  @include head-in-block;
}

.target-segment__text {
  @include text-in-block;
}

// Target segments -->

// <-- Course program

.section-course-program {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 280px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 280px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.program-blocks,
.wrapper-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.wrapper-blocks {
  flex-basis: 100%;

  @media (min-width: 960px) {
    flex-basis: 30%;
  }
}

.wrapper-program-blocks {
  @media (min-width: 960px) {
    flex-basis: 65%;
  }
}

.program-block {
  flex-basis: 50%;
  flex-grow: 1;
  margin-bottom: 35px;

  @media (min-width: 480px) {
    flex-basis: 40%;
  }

  @media (min-width: 960px) {
    flex-basis: 40%;
  }

  @media (max-width: 960px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media (min-width: 960px) {
    & {
      margin-right: 30px;
    }
  }
}

.program-block--watching {
  flex-basis: 50%;

  @media (min-width: 960px), (max-width: 740px) {
    order: 5;
    flex-basis: 100%;
  }
}

.program-block--focus {
  border-radius: 10px;
  box-shadow: 0 10px 20px 10px #F4F4FE;
  padding: 35px 15px 30px 40px;
  flex-basis: 50%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -35px;
    right: -30px;
    width: 70px;
    height: 70px;
    filter: blur(5px);
    border-radius: 50%;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2f80ed 100%), #FFFFFF;
    box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
  }

  &::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -45px;
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
    border-radius: 50%;
    opacity: 0.1;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
  }

  @media (min-width: 960px) {
    order: 4;
    flex-basis: 30%;
  }
}

.program-block--middle {
  align-self: center;
}

.program-block__head {
  @include head-in-block;
}

.program-block__text {
  @include text-in-block;
}

.program-block__head--border-dashed {
  color: $color-primary;
  border-bottom: 1px dashed;
  display: inline-block;
}

.program-block--hidden {
  @media (max-width: 740px) {
    display: none;
  }
}

// Course program -->

// <-- Result

.section-result {
  @media (max-width: 319px) {
    padding-top: 280px;
  }

  @media (max-width: 321px) {
    padding-bottom: 200px;
    padding-top: 250px;
  }

  @media (min-width: 322px) and (max-width: 639px), (min-width: 781px) and (max-width: 960px) {
    padding-top: 200px;
  }

  @media (min-width: 640px) and (max-width: 780px) {
    padding-top: 250px;
    padding-bottom: 350px;
  }

  @media (min-width: 781px) {
    padding-bottom: 50px;
  }

  @media (max-width: 460px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (max-width: 580px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 580px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }

  background-repeat: no-repeat;

  @media (max-width: 321px) {
    background-position: top;
    background-image: url(../images/section-result-bg.svg);
    background-size: cover;
  }

  @media (min-width: 322px) {
    background-image: url(../images/section-result-bg-768.svg);
    background-size: cover;
  }

  @media (min-width: 960px) {
    background-image: url(../images/section-result-bg-desktop.svg);
    padding-top: 150px;
    max-width: 1200px;
  }

  @media (min-width: 1280px) {
    background-size: contain;
  }
}

.section-result__h2 {
  @media (max-width: 440px) {
    text-align: center;
  }
}

.section-result__result-blocks {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 860px) {
    flex-direction: row;
  }
}

.result-block {
  padding: 45px 40px 45px 60px;
  line-height: 2;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(47, 55, 237, 0.1);

  @media (max-width: 319px) {
    padding: 15px;
  }

  @media (min-width: 980px) {
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  @media (min-width: 980px) {
    margin-bottom: 20px;
  }

  @media (min-width: 680px) and (max-width: 780px) {
    flex-basis: 278px;
  }

  @media (min-width: 980px) {
    flex-basis: 45%;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
  @media (max-width: 1400px) {
    flex-grow: 1;
  }
}

.result-block__wrapper-text {
  @media (min-width: 680px) {
    margin-left: 30px;
    max-width: 70%;
  }
}

.result-block__wrapper-text,
.result-block__wrapper-img-icon {
  @media (min-width: 441px) {
    display: inline-block;
    vertical-align: top;
  }
}

.result-block__img-icon {
  margin-bottom: 40px;
}

.result-block__head {
  @include head-in-block;
}

.result-block__text {
  @include text-in-block;

  @media (min-width: 980px) {
    line-height: 2;
  }
}

// Result -->

// <-- About person

.section-about-person {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 580px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.section-about-person__h2 {

  @media (max-width: 440px) {
    text-align: center;
  }
}

.wrapper-person-info {
  display: flex;
}

.wrapper-iframe {
  @media (max-width: 360px) {
    min-height: 190px;
  }
}

.card-person {
  align-self: center;
  flex-basis: 35%;
  padding: 45px 40px 45px 60px;
  margin-left: 45px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(47, 55, 237, 0.1);
  @media (max-width: 980px) {
    display: none;
  }
}

.card-person__head {
  @include head-in-block;
}

.card-person__text {
  @include text-in-block;
}

.section-about-person__about-blocks {
  padding-top: 45px;
  padding-bottom: 45px;

  @media (max-width: 480px) {
    padding-left: 40px;
    padding-right: 60px;
  }

  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.about-block {
  margin-bottom: 40px;

  @media (min-width: 480px) {
    flex-basis: 45%;
  }

  @media (min-width: 920px) {
    flex-basis: 23%;
  }
}

.about-block__img-icon {
  margin-bottom: 20px;
}

.about-block__head {
  @include head-in-block;
}

.about-block__text {
  @include text-in-block;
}

// About person -->

// <-- Reviews

.section-reviews {
  position: relative;
  max-width: 1380px;
  padding-top: 15%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/section-reviews-bg.svg);


  @media (max-width: 740px) {
    background-size: cover;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 741px) and (max-width: 1140px) {
    padding-bottom: 8%;
    background-position-x: right;
    background-position: 100%;
    max-width: 760px;
    margin-left: auto;
  }

  @media (min-width: 1140px) {
    padding-top: 5%;
    padding-bottom: 0;
    background-image: url(../images/section-reviews-bg-desktop.svg);
  }

  @media (max-width: 580px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 580px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.section-reviews__h2 {
  @media (max-width: 480px) {
    text-align: center;
  }
}

.section-reviews__reviews-block {
  @media (min-width: 1140px) {
    display: flex;
    flex-direction: column;
    max-height: 868px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.reviews-block__wrapper-review {

  @media (min-width: 340px) and (max-width: 1140px){
    &:not(:last-child) {
      margin-bottom: 10%;
    }
  }

  @media (min-width: 1140px) {
    margin-bottom: 10px;

    &:nth-child(odd) {
      margin-right: 40px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      flex-basis: 40%;
      width: 48%;
    }
  }
}

.wrapper-review__review {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 13px 20px 10px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  padding: 30px 20px 60px 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 40px;
    height: 40px;
    border-top: 12px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.review__head {
  font-weight: bold;
  margin-bottom: 10px;
  @media (min-width: 461px) {
    margin-bottom: 25px;
  }
}

.review__text {
  @include text-in-block;
  line-height: 2;
}

.review__photo {
  margin-top: 20px;
}

.section-reviews__big-btn {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    padding: 55px;
    position: absolute;
    bottom: 15px;
    right: 100px;
    width: 276px;
    height: 276px;
    border-radius: 50%;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%), #FFFFFF;
    box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
  }
}

.big-btn__img {
  margin: 15px;
}

.big-btn__text-inner {
  color: $color-primary;
}

// Reviews -->

// <-- Archive photos

.section-archive-photos__photos {
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: 680px) {
    flex-direction: row;
    justify-content: center;
  }
}

.wrapper-photos {
  display: flex;
  //flex-wrap: wrap;
  flex-basis: 100%;
  margin-bottom: 4px;
  flex-grow: 1;

  @media (min-width: 680px) {
    justify-content: space-around;
    flex-basis: 45%;
    flex-grow: 1;

    &:nth-child(odd) {
      margin-right: 4px;
    }

    @media (max-width: 861px) {
      &:nth-child(odd) {
        justify-content: flex-end;
      }

      &:nth-child(even) {
        justify-content: flex-start;
      }
    }
  }
}

.section-archive-photos__h2 {
  @media (max-width: 480px), (min-width: 768px){
    text-align: center;
  }

  @media (max-width: 580px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 580px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.wrapper-photo {
  &:nth-child(even) {
    margin-left: 4px;
  }
}

.wrapper-photo__img {
  max-width: 100%;
  height: auto;

  @media (max-width: 480px) {
    width: 158px
  }
}

// Archive photos -->

// <-- Price-list

.section-price-list {
  @media (min-width: 753px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 767px) {
    background-image: url(../images/section-price-list-bg-768-ellipse-top.svg),
    url(../images/section-price-list-bg-desktop-ellipse-bottom.svg);
    background-repeat: no-repeat;
    background-position: right -80px, -999px;
  }

  @media (min-width: 980px) {
    background-image: url(../images/section-price-list-bg-768-ellipse-top.svg),
    url(../images/section-price-list-bg-desktop-ellipse-bottom.svg);
    background-repeat: no-repeat;
    background-position: right top, bottom left;
  }

}

.section-price-list__h2 {
  text-align: center;
}

.section-price-list__price-list-blocks {
  max-width: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 380px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (max-width: 753px) {
    background-image: url(../images/section-price-list-bg.svg);
    background-position: center 20%;
  }

  @media (min-width: 753px) {
    background-image: url(../images/section-price-list-bg-768.svg);
    background-position: center;
  }

  @media (min-width: 968px) {
    padding-top: 40px;
  }

  @media (min-width: 1092px) {
    background-image: url(../images/section-price-list-bg-desktop.svg);
    background-size: auto;
    background-position: top center;
  }
}

.price-list-block {
  background: #fff;
  margin-bottom: 10px;
  padding: 75px 50px;
  color: $color-primary;
  font-family: $font-montserrat;
  border-radius: 10px;

  @media (min-width: 520px) {
    margin-left: 5px;
    margin-right: 5px;
  }

  &:not(:last-child) {
    box-shadow: 0 0 50px rgba(47, 55, 237, 0.12);

    @media (min-width: 1092px) {
      padding: 65px 45px;
    }
  }

  &:nth-child(3) {
    position: relative;
    &::after {
      content: "выгодно";
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      font-size: 10px;
      background-color: $color-primary;
      padding: 24px 10px;
      border-radius: 50%;

      @media (min-width: 753px) {
        top: -15px;
        right: -15px;
        font-size: 12px;
        padding: 30px 13px;
      }

      @media (min-width: 980px) {
        top: -35px;
        right: -20px;
      }
    }
  }

  &:last-child {
    text-align: center;
    box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);
    @media (min-width: 1092px) {
      text-align: center;
      flex-basis: 55%;
      padding: 35px 50px;

      & > * {
        display: inline-block;
      }
    }
  }

  @media (max-width: 320px) {
    padding: 70px 15px;
  }

  @media (min-width: 320px) and (max-width: 640px) {
    flex-basis: 45%;
    flex-grow: 0;
  }

  @media (min-width: 640px) and (max-width: 1091px) {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  @media (min-width: 1092px) {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

.price-list-block_combined {
  @media (min-width: 1092px) {
    margin-right: 40px;
  }
}

.price-list-block__price {
  margin-bottom: 15px;
  font-size: 20px;

  @media (min-width: 980px) {
    font-size: 25px;
  }

  font-weight: 400;
}

.price-list-block__tariff {
  margin-bottom: 45px;
  font-size: 16px;

  @media (min-width: 1092px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.price-list-blocks__button {
  @include button;
}

// Price-list -->

// <-- Package content

.section-package-content {
  background-repeat: no-repeat;

  @media (max-width: 380px) {
    background-image: url(../images/section-package-content-bg.svg);
    background-size: contain;
    background-position: top;
  }

  @media (min-width: 381px) {
    background-image: url(../images/section-package-content-bg-768.svg);
    background-position: top left;
    background-size: contain;
  }

  @media (min-width: 600px) {
    background-image: url(../images/section-package-content-bg-desktop.svg);

    @media (max-width: 1220px) {
      background-size: cover;
    }
  }

  @media (max-width: 640px) {
    padding: 0 5%;
  }

  @media (min-width: 641px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding: 0 90px;
  }
}

.section-package-content__h2 {
  text-align: center;

  @media (min-width: 980px) {
    text-align: left;
  }
  color: #fff;
  padding-top: 150px;
  margin-bottom: 50px;
}

.section-package-content__package-content-blocks {
  max-width: 1000px;

  @media (min-width: 640px) {
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 980px) {
      justify-content: center;
    }
  }

  @media (min-width: 980px) {
    padding-bottom: 230px;
  }
}

.package-content-block {
  background: #fff;
  margin-bottom: 10px;
  padding: 45px 10px 40px 40px;
  color: $color-primary;
  font-family: $font-montserrat;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);

  @media (min-width: 640px) {
    flex-basis: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
  }
}

.package-content-block__wrapper-icon {
  margin-bottom: 30px;

  .wrapper-icon__img {
    max-width: 100%;
  }
}

.package-content-block__head {
  @include head-in-block;
}

.package-content-block__text {
  @include text-in-block;
}

// Package content -->

// <-- Form

.section-form {
  position: relative;
  padding-top: 20px;
  background-color: #F5F9FE;

  @media (max-width: 640px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 641px) and (max-width: 767px) {
    padding-left: $padding-left-right-768;
    padding-right: $padding-left-right-768;
  }

  @media (min-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (max-width: 640px) {
    margin-top: 100px;
  }

  &::after {
    content: '';
    position: absolute;
    top: -100px;
    left: -90px;
    background-image: url(../images/section-form-bg-ellipse-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 210px;
    width: 210px;
    background-position: top;

    @media (min-width: 767px) {
      height: 310px;
      width: 310px;
      top: -150px;
    }
  }
}

.section-form__form {
  max-width: 1250px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (min-width: 460px) {
    display: flex;
    flex-wrap: wrap;
  }

  & > * {
    @media (max-width: 459px) {
      width: 100%;
    }

    @media (min-width: 460px) and (max-width: 920px) {
      flex-basis: 45%;
    }
  }
}

.section-form__input {
  height: 100%;
  margin: 0 auto 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px solid rgba(47, 128, 237, 0.3);

  @media (min-width: 460px) {
    &:not(:first-child) {
      margin-left: 10px;
    }

    @media (max-width: 920px) {
      &:first-child {
        margin-left: 10px;
      }
    }

    margin-right: 10px;
    margin-bottom: 20px;
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    height: auto;
    width: auto;
  }
}

.section-form__button {
  @include button;
  margin-bottom: 20px;

  @media (min-width: 460px) {
    padding: 10px 0;
    flex-grow: 1;
    margin-left: 10px;
    @media (max-width: 920px) {
      margin-right: 10px;
    }
  }
}

//

.footer__wrapper-footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;

  @media (max-width: 640px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 641px) and (max-width: 830px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 831px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.footer__wrapper-footer-section__bg-primary-color {
  background-color: $color-primary;
}

.footer__footer-head {
  max-width: 1250px;
  margin: auto;
  text-align: center;

  @media (min-width: 680px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-head__cities-list {

  @media (min-width: 680px) {
    display: inline-block;
    margin-right: 40px;
  }

  .city {
    color: #fff;

    @media (max-width: 680px) {
      margin-bottom: 10px;
    }

    @media (min-width: 680px) {
      display: inline-block;
      margin-right: 40px;
    }
  }
}

.footer-head__button {
  color: $color-primary;
  padding: 10px 25px;
  border-radius: 20px;
}

.footer__wrapper-footer-section__bg-dark-color {
  background-color: #185FBF;
}

.footer__privacy {
  max-width: 1250px;
  margin: auto;

  @media (max-width: 579px) {
    text-align: center;
  }

  color: #fff;
  opacity: .7;

  @media (min-width: 580px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.privacy__info {
  order: 1;
  @media (max-width: 579px) {
    margin-bottom: 20px;
  }

  @media (min-width: 980px) {
    display: flex;
    & > *:first-child {
      margin-right: 40px;
    }
  }
}

