// <-- Common
$color-primary: #2F80ED;
$color-mint: #52D1BC;
$font-size-sm: 10px;
$font-size-text: 14px;
$font-size-heading: 24px;
$font-montserrat: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin heading-section {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-heading;
  //text-align: center;
  color: #fff;
}

@mixin button {
  color: #fff;
  background-color: $color-mint;
  padding: 15px 45px;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  @include heading-section;
  margin-bottom: 35px;
}

.button {
  @include button;
}

// Common -->

.header {
  font-family: $font-montserrat;
  font-size: $font-size-text;
  background-size: cover;
  background-position: right;

  @media (max-width: 440px) {
    background-image: url(../images/header-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)  {
      background-image: url(../images/header-bg@2x.jpg);
    }
  }

  @media (min-width: 441px) {
    background-image: url(../images/header-bg-768@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper-flex {
      @media (min-width: 680px) {
        display: flex;
      }
    }

    &__cities-list {
      flex-grow: 1;
    }

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)  {
      background-image: url(../images/header-bg-768@2x.jpg);
    }
  }

  @media (min-width: 960px) {
    background-image: url(../images/header-bg-desktop@1x.jpg);

    @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)  {
      background-image: url(../images/header-bg-desktop@2x.jpg);
    }
  }

  @media (min-width: 1400px) {
    background-size: contain;
  }
}

.header__wrapper-position-right {
  @media (min-width: 481px) {
    margin-left: auto;
    max-width: 460px;
  }
  @media (min-width: 680px) {
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    margin-right: auto;
  }

  @media (min-width: 860px) {
    max-width: 550px;
  }

  @media (min-width: 960px) {
    min-width: 55%;
  }
}

.header__main-navigation {
  display: flex;
  justify-content: space-between;
}

.header__button {
  @media (min-width: 960px) {
    order: 1;
    //flex-grow: 2;
    text-align: right;
  }
}

.nav-grouping {
  display: flex;
  @media (max-width: 960px) {
    flex-direction: column;
    align-items: flex-end;
  }
  @media (min-width: 960px) {
    //flex-direction: column;
  }
}

.nav__list {
  opacity: 0;
  @media (min-width: 960px) {
    display: flex;
    opacity: 1;
  }
}

.list-item:not(:last-child) {
  padding-right: 50px;
}

.nav-grouping__icon-menu {
  @media (min-width: 960px) {
    display: none;
  }
}

.header__section-main {
  @media (min-width: 960px) {
    max-width: 690px;
    margin-left: auto;
    padding-top: 60px;
  }

  & > p {
    @media (min-width: 960px) {
      font-size: 18px;
    }
  }
}

.section-main__heading-location {
  font-size: 12px;
  margin-bottom: 25px;
  @media (min-width: 960px) {
    font-size: 16px;
  }
}

.section-main__main-heading {
  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.button--shadow {
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
  box-shadow: 0 0 0 15px rgba(82, 209, 188, 0.4);
}

.header__wrapper-rating {
  margin-left: auto;

  @media  (min-width: 1200px){
    width: 1250px;
  }
}

.header__rating {
  background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
  box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
  border-radius: 50%;
  height: 231px;
  width: 231px;
  padding: 30px;
  color: $color-primary;
  & > p:not(:last-child) {
    margin: 5px;
  }

  @media (max-width: 481px) {
    margin: auto;
  }

  @media (min-width: 441px) {
    //margin-left: 20px;
  }

  @media (min-width: 960px) {
    display: inline-block;
    margin-left: 50px;
  }
}

.rating__heading {
  font-size: 34px;
}

.rating-show {
  font-size: $font-size-sm;
}

.header__cities-list {
  color: $color-primary;
  display: none;
  margin: 0;

  @media (min-width: 680px) {
    display: inline-block;
  }

  @media (min-width: 960px) and (max-width: 1214px){
    color: #fff;
  }

  @media (min-width: 1157px) and (max-width: 1389px) {
    display: none;
  }
}

